html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding:0;
    font-family: 'Outfit', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    background-color: $main-bg;
}